.my-form {
  margin-top: 30px;
  background-color:lightgreen;
  border-radius: 10px;
  border: 1px solid darkgreen;
  padding: 10px;
}

.my-form input {
  border: 1px solid black;
}

.my-form button {
  background-color: darkgreen;
  border: 1px solid black
}